# Database Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/vaultops
SPRING_DATASOURCE_USERNAME=your_database_username
SPRING_DATASOURCE_PASSWORD=your_database_password

# Brevo SMTP Configuration
BREVO_SMTP_USERNAME=your_brevo_smtp_username
BREVO_SMTP_KEY=your_brevo_smtp_key
MAIL_SENDER_ADDRESS=your_verified_sender_email@example.com

# JWT Configuration
JWT_SECRET_KEY=your_jwt_secret_key_here
