# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS files
.DS_Store
Thumbs.db

backend/vaultops/test-data

# Build and dependency directories
target/
node_modules/
dist/
*.class
jacoco.exec
**/target/
**/node_modules/
**/dist/
*.log