
.dashboard{
    width: 100%;
    min-height: 100dvh;
    padding: 12px;



    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.4rem;
}
/* Responsive */
@media screen and (min-width: 1400px) {
    .dashboard{
        width: 85%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        flex: 1;
    }
}


/* DASHBOARD INTRO */
.dash-intro{
    width: 100%;
    height: 60px;
    padding: 4px;
    background-color: aliceblue;

    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash-intro p{
    color: var(--blue-secondary);
}

.dash-intro span{
    color: var(--blue-primary);
    font-weight: bold;
}

.dash-intro button{
    font-size: 1.5rem;
    color: var(--blue-primary);
    background-color: transparent;
    border: none;
    outline: none;
}


/* Dasboard condition summary */
.dash-condition-summary{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dash-condition-summary-intro{
    color: var(--blue-primary);
}

.dash-condition-summary-list{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


/* Dashboard card container */
.dashboard-card-container{
    width: 100%;
    margin-bottom: 60px;
    min-height: 500px;
    padding: 0.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.dashboard-items-in-use{
    width: 100%;
    min-height: 100%;
}
/* Responsive */
@media screen and (min-width: 1000px) {
    .dashboard-card-container {
        flex-direction: row;
    }
}


/* Dashboard card container color theme */
/* Items in use */
.dash-card-blue-bg{
    background-color: #3B82F6;
}

.dash-card-items-in-use-icon{
    background-color: #DBEAFE;
    color: #1E40AF;
}

.dash-card-blue-titles{
    color: #02246d;
}

.dash-card-item-blue{
    border: 1px solid #1e40af8f;
    transition: 300ms;
}
.dash-card-item-blue:hover p{
    color: #1e40afc7;
    transition: 300ms;
}
.dash-card-item-blue:hover{
    border: 1px solid #1E40AF;
    background-color: #bfdbfe8f;
    transition: 300ms;
}

/* Items in repair */
.items-repair-bg {
    background-color: #ff9a3c;
}

.item-repair-title{
    color: #8f2803;
}

.items-repair-badge {
    background-color: #ff9a3c75;
    color: #ff6f3c;
    border: 1px solid #ff6f3c;
}

.items-repair-hover{
    background-color: #ffdbb91a;
    border: 1px solid #f871717a;
}
.items-repair-hover:hover p{
    color: #f87171a1;
}
.items-repair-hover:hover {
    background-color: #FEE2E2;
    border-color:1px solid #F87171;
}

