
.dashboard{
    width: 100%;
    min-height: 100dvh;
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.4rem;
}


/* DASHBOARD INTRO */
.dash-intro{
    width: 100%;
    height: 60px;
    padding: 4px;
    background-color: aliceblue;

    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash-intro p{
    color: var(--blue-secondary);
}

.dash-intro span{
    color: var(--blue-primary);
    font-weight: bold;
}

.dash-intro button{
    font-size: 1.5rem;
    color: var(--blue-primary);
    background-color: transparent;
    border: none;
    outline: none;
}


/* Dasboard summary */
.dash-summary{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dash-summary-intro{
    color: var(--blue-primary);
}

.dash-summary-list{
    width: 100%;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}