

.condition-card{
    width: 250px;
    height: 200px;
    padding: 1rem;

    border: 1px solid grey;
    border-left: 5px solid green;
    border-radius: 12px;
}

.condition-card-head{
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.condition-card-head h2{
    font-size: 2rem;
}

.consdition-card-body h2{
    font-size: 1.3rem;
    font-weight: 800;
}

.consdition-card-body p{
    font-size: 14px;
    color: rgba(66, 66, 66, 0.623);
}