
.inventory {
    width: 100%;
    min-height: 100%;
    padding: 12px;

    background-color: #FAFAFA;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    flex: 1;
}

.inventory-title{
    color: #2C5F8D;
}

/* Responsive */
@media screen and (min-width: 1400px) {
    .inventory {
        width: 85%;
        position: absolute;
        right: 0;

        flex: 1;
    }
}


/* Inventory Container */
.inventory-container{
    width: 100%;
    min-height: 400px;
    padding: 1rem;

    border: 1px solid #E4E4E7;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inventory-filter-container{
    width: 100%;
    padding: 1rem;

    color: hsl(215, 20%, 45%);
    background: hsl(215, 70%, 95%);

    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.inventory-filter-container button{
    border: none;
    outline: none;
    padding: 0.6rem;

    border-radius: 8px;
    background: hsl(0, 0%, 100%);
    color: hsl(215, 68%, 20%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.selected-filter-button{
    background: hsl(0, 0%, 100%);
    color: hsl(215, 68%, 20%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
/* Responsive */
@media screen and (min-width: 500px) {
    .inventory-filter-container{
        width: 27.5pc;
    }
}