/* Wrapper allows sideways scroll on mobile */
.table-wrapper {
    width: 100%;
    overflow-x: auto;
    border-radius: 12px;
    border: 1px solid #E4E4E7;
}

/* Table base styling */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    table-layout: auto;
}

/* Header styling */
.table thead {
    background: hsla(213, 95%, 84%, 0.226);
}

.table th {
    text-align: left;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #52525B;
    /* muted slate */
    border-bottom: 1px solid #E4E4E7;
}

/* Body rows */
.table td {
    padding: 14px 16px;
    font-size: 14px;
    color: #3F3F46;
    border-bottom: 1px solid #E4E4E7;
}

/* Hover effect */
.table tbody tr:hover {
    background: hsla(213, 100%, 77%, 0.178);
}

/* Status badges */
/* .status {
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
} */



/* Make table look clean on small screens */
@media (max-width: 600px) {

    .table th,
    .table td {
        padding: 12px 10px;
        font-size: 13px;
    }
}