

/* Dashboard card main */
.dashboard-card{
    width: 100%;
    min-height: 100%;
    padding: 0.5rem;

    border: 1px solid #D4DBE3;
    border-radius: 16px;

    box-shadow: 0px 0px 10px #D4DBE3;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
}


/* Dashboard card header */
.dashboard-card-header{
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-card-header-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dashboard-card-header-name div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    border-radius: 8px;
}

.dashboard-card-header-name h2{
    font-size: 1.1rem;
    font-weight: 400;
}

.dashboard-card-header-number{
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;

    color: white;
    border-radius: 8px;
}


.dashboard-card-body{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


/* Dashboard item card */
.dashboard-item-card{
    width: 100%;
    padding: 1.1rem;

    border-radius: 12px;
}

.dashboard-item-card h2{
    font-size: 18px;
    font-weight: 500;
}

.dashboard-item-card p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.685);
}

/* Dashboard card footer */
.dashboard-card-footer{
    width: 100%;
    /* padding: 10px; */
}

.dashboard-card-footer a{
    width: 100%;
    height: 50px;
    padding: 5px;

    text-decoration: none;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}