

.search-form {
    width: 100%;
    height: 60px;
    padding: 4px;
    background-color: aliceblue;

    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form p {
    color: var(--blue-secondary);
}

.search-form span {
    color: var(--blue-primary);
    font-weight: bold;
}

.search-form button {
    font-size: 1.5rem;
    color: var(--blue-primary);
    background-color: transparent;
    border: none;
    outline: none;
}