name: VaultOps pipeline

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

env:
  JAVA_VERSION: "21"
  MAVEN_OPTS: -Xmx1024m

jobs:
    build:
      name: Build and Test
      runs-on: ubuntu-latest

      defaults:
        run:
          working-directory: ./backend/vaultops

      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
            java-version: ${{ env.JAVA_VERSION }}
            distribution: 'temurin'
            cache: 'maven'

        - name: Build with Maven
          run: mvn clean install

        # Run tests
        - name: Run tests
          run: mvn clean test

        # Build application
        - name: Build with Maven
          run: mvn clean package -DskipTests

        # Upload artifact
        - name: Upload JAR
          uses: actions/upload-artifact@v4
          with:
            name: vaultops-jar
            path: backend/vaultops/target/*.jar
