name: VaultOps pipeline

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

env:
  JAVA_VERSION: "21"
  MAVEN_OPTS: -Xmx1024m

jobs:
    build:
      name: Build and Test
      runs-on: ubuntu-latest

      defaults:
        run:
          working-directory: ./backend/vaultops

      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
            java-version: ${{ env.JAVA_VERSION }}
            distribution: 'temurin'
            cache: 'maven'

        # - name: Build with Maven
        #   run: mvn clean install

        - name: Run tests
          run: mvn clean test

        - name: Build with Maven
          run: mvn clean package -DskipTests

        - name: Upload JAR
          uses: actions/upload-artifact@v4
          with:
            name: vaultops-jar
            path: backend/vaultops/target/*.jar

    build-and-push-image:
      needs: build
      runs-on: ubuntu-latest
      permissions:
        contents: read
        packages: write
      steps:
        - uses: actions/checkout@v4

        - name: Retrive metadata
          id: meta
          uses: docker/metadata-action@v5
          with:
            images: ghcr.io/${{ github.repository }}
            tags: |
             type=raw, value=latest
        - name: Login to Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and push image
          uses: docker/build-push-action@v5
          with:
            context: .
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}

